In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras

In [2]:
#Passengers per thousand in
#Resources: 한국철도공사 및 (주)SR에서 제공하는「KTX, SRT 여객 수송 통계」

In [3]:
data = pd.read_excel('test.xls')

In [4]:
data

,Unnamed: 0,200404월,200405월,200406월,200407월,200408월,200409월,200410월,200411월,200412월,...,202105월,202106월,202107월,202108월,202109월,202110월,202111월,202112월,202201월,202202월
0,고속철도 여객수 계,"2,127","2,314","1,968","2,152","2,247","2,255","2,278","2,200","2,340",...,"5,910","5,729","5,071","5,024","5,130","6,427","6,866","6,375","5,798","4,959"
1,KTX이용률,61,65,57,61,65,65,65,66,65,...,70,71,59,57,60,74,85,74,67,62
2,SRT이용률,-,-,-,-,-,-,-,-,-,...,106,108,96,96,94,114,120,113,102,99
3,경부선 KTX여객수,"1,771","1,945","1,695","1,845","1,893","1,825","1,912","1,838","1,974",...,"2,102","2,060","1,770","1,695","1,799","2,292","2,521","2,280","2,079","1,754"
4,경부선 KTX이용률,70,75,67,72,75,73,76,76,75,...,66,68,56,53,58,71,82,72,65,60
5,경부선 SRT여객수,-,-,-,-,-,-,-,-,-,...,"1,292","1,249","1,158","1,132","1,107","1,365","1,382","1,356","1,258","1,111"
6,경부선 SRT이용률,-,-,-,-,-,-,-,-,-,...,112,116,102,102,100,121,128,120,108,105
7,호남선 KTX여객수,356,369,273,307,354,430,366,363,366,...,701,673,578,586,611,756,821,743,662,553
8,호남선 KTX이용률,38,39,30,32,37,45,38,39,37,...,66,62,52,51,55,66,74,65,59,53
9,호남선 SRT여객수,-,-,-,-,-,-,-,-,-,...,508,495,446,452,438,537,553,534,483,419
10,호남선 SRT이용률,-,-,-,-,-,-,-,-,-,...,94,94,82,84,84,100,106,98,89,86
11,경전선 KTX여객수,-,-,-,-,-,-,-,-,-,...,437,422,366,379,405,507,546,501,460,381
12,경전선 KTX이용률,-,-,-,-,-,-,-,-,-,...,81,82,68,65,71,86,97,86,79,71
13,전라선 KTX여객수,-,-,-,-,-,-,-,-,-,...,495,473,424,447,435,554,586,543,486,423
14,전라선 KTX이용률,-,-,-,-,-,-,-,-,-,...,82,81,70,68,67,84,93,83,76,70
15,동해선 KTX여객수,-,-,-,-,-,-,-,-,-,...,375,357,329,333,335,416,457,418,370,318
16,동해선 KTX이용률,-,-,-,-,-,-,-,-,-,...,85,84,73,68,70,85,96,85,79,72

In [8]:
init = True
my_list = []
for c in data:
    if init == True:
        init = False
    else:
        temp_list = data[c].values
        for i in range(len(temp_list)):
            if temp_list[i] == '-':
                temp_list[i] = 0
        my_list.append(temp_list)

In [9]:
my_list

[array(['2,127', '61', 0, '1,771', '70', 0, 0, '356', '38', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,314', '65', 0, '1,945', '75', 0, 0, '369', '39', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['1,968', '57', 0, '1,695', '67', 0, 0, '273', '30', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,152', '61', 0, '1,845', '72', 0, 0, '307', '32', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,247', '65', 0, '1,893', '75', 0, 0, '354', '37', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,255', '65', 0, '1,825', '73', 0, 0, '430', '45', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,278', '65', 0, '1,912', '76', 0, 0, '366', '38', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,200', '66', 0, '1,838', '76', 0, 0, '363', '39', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,340', '65', 0, '1,974', '75', 0, 0, '366', '37', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,456', '65', 0, '2,068', '75', 0, 0, '388', '38', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,431', '70', 0, '1,990', '79', 0, 0, '442', '46', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,347', '63', 0, '1,985', '73', 0, 0, '362', '35', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,534', '68', 0, '2,123', '78', 0, 0, '412', '41', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,697', '70', 0, '2,247', '79', 0, 0, '450', '44', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,540', '68', 0, '2,129', '77', 0, 0, '411', '42', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,657', '68', 0, '2,227', '77', 0, 0, '430', '42', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,912', '74', 0, '2,415', '84', 0, 0, '497', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,705', '70', 0, '2,227', '79', 0, 0, '478', '47', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,965', '75', 0, '2,462', '84', 0, 0, '503', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,880', '74', 0, '2,390', '82', 0, 0, '491', '49', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,244', '80', 0, '2,590', '85', 0, 0, '654', '63', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,207', '77', 0, '2,617', '84', 0, 0, '590', '56', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,825', '77', 0, '2,347', '86', 0, 0, '479', '51', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,658', '66', 0, '2,230', '74', 0, 0, '428', '42', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,005', '76', 0, '2,488', '84', 0, 0, '517', '52', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,130', '77', 0, '2,587', '85', 0, 0, '543', '53', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,840', '72', 0, '2,369', '81', 0, 0, '471', '47', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,969', '72', 0, '2,473', '80', 0, 0, '496', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,141', '77', 0, '2,600', '85', 0, 0, '541', '52', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,810', '71', 0, '2,338', '79', 0, 0, '472', '47', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,403', '81', 0, '2,763', '88', 0, 0, '640', '61', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,138', '78', 0, '2,606', '86', 0, 0, '532', '53', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,362', '79', 0, '2,773', '87', 0, 0, '589', '57', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,215', '77', 0, '2,667', '85', 0, 0, '548', '53', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,081', '79', 0, '2,541', '87', 0, 0, '540', '57', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,970', '71', 0, '2,479', '78', 0, 0, '490', '47', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,009', '74', 0, '2,495', '82', 0, 0, '514', '52', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,244', '78', 0, '2,691', '86', 0, 0, '553', '54', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,971', '72', 0, '2,486', '80', 0, 0, '485', '49', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,965', '70', 0, '2,489', '78', 0, 0, '476', '46', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,162', '75', 0, '2,635', '82', 0, 0, '528', '51', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,019', '71', 0, '2,475', '76', 0, 0, '544', '54', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,179', '76', 0, '2,654', '84', 0, 0, '525', '51', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,182', '78', 0, '2,637', '86', 0, 0, '545', '55', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,285', '77', 0, '2,729', '85', 0, 0, '556', '54', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,136', '72', 0, '2,616', '79', 0, 0, '520', '51', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,138', '74', 0, '2,596', '80', 0, 0, '542', '56', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,995', '68', 0, '2,497', '74', 0, 0, '499', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,065', '73', 0, '2,544', '79', 0, 0, '521', '52', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,430', '78', 0, '2,826', '84', 0, 0, '604', '58', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,015', '71', 0, '2,511', '77', 0, 0, '504', '50', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,024', '70', 0, '2,531', '77', 0, 0, '493', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,337', '75', 0, '2,755', '81', 0, 0, '582', '56', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,153', '74', 0, '2,595', '79', 0, 0, '558', '55', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,299', '76', 0, '2,739', '82', 0, 0, '560', '54', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,265', '76', 0, '2,700', '82', 0, 0, '565', '56', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,158', '73', 0, '2,622', '79', 0, 0, '536', '52', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,272', '72', 0, '2,669', '77', 0, 0, '603', '57', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,830', '71', 0, '2,375', '78', 0, 0, '456', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,948', '67', 0, '2,451', '73', 0, 0, '497', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,066', '73', 0, '2,533', '79', 0, 0, '533', '53', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,336', '74', 0, '2,749', '80', 0, 0, '587', '56', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,930', '69', 0, '2,446', '75', 0, 0, '484', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,991', '69', 0, '2,503', '75', 0, 0, '487', '47', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,333', '75', 0, '2,760', '81', 0, 0, '573', '57', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['2,852', '67', 0, '2,370', '73', 0, 0, '482', '48', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,489', '77', 0, '2,879', '83', 0, 0, '610', '58', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,078', '72', 0, '2,574', '78', 0, 0, '504', '50', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,268', '74', 0, '2,702', '81', 0, 0, '567', '55', 0, 0, 0, 0, 0,
        0, 0, 0], dtype=object),
 array(['3,310', '74', 0, '2,725', '79', 0, 0, '585', '56', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,196', '78', 0, '2,644', '84', 0, 0, '552', '59', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,095', '72', 0, '2,587', '78', 0, 0, '508', '51', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,163', '77', 0, '2,640', '82', 0, 0, '523', '58', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,539', '82', 0, '2,943', '87', 0, 0, '596', '64', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,041', '74', 0, '2,552', '80', 0, 0, '489', '54', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,280', '76', 0, '2,750', '81', 0, 0, '530', '57', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,496', '82', 0, '2,907', '88', 0, 0, '590', '63', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,310', '79', 0, '2,723', '83', 0, 0, '587', '65', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,670', '86', 0, '3,056', '92', 0, 0, '614', '66', 0, 0, '0', '0',
        0, 0, 0, 0], dtype=object),
 array(['3,923', '93', 0, '3,321', '102', 0, 0, '603', '61', 0, 0, '0',
        '0', 0, 0, 0, 0], dtype=object),
 array(['4,259', '95', 0, '3,485', '102', 0, 0, '655', '66', 0, 0, '118',
        '107', 0, 0, 0, 0], dtype=object),
 array(['4,113', '89', 0, '3,277', '96', 0, 0, '629', '65', 0, 0, '207',
        '101', 0, 0, 0, 0], dtype=object),
 array(['3,991', '94', 0, '3,184', '101', 0, 0, '596', '67', 0, 0, '212',
        '104', 0, 0, 0, 0], dtype=object),
 array(['3,842', '88', 0, '3,056', '95', 0, 0, '560', '60', 0, 0, '225',
        '105', 0, 0, 0, 0], dtype=object),
 array(['4,176', '94', 0, '3,254', '102', 0, 0, '621', '66', 0, 0, '301',
        '108', 0, 0, 0, 0], dtype=object),
 array(['4,384', '97', 0, '3,379', '104', 0, 0, '631', '71', 0, 0, '373',
        '95', 0, 0, 0, 0], dtype=object),
 array(['4,008', '95', 0, '3,105', '104', 0, 0, '570', '63', 0, 0, '333',
        '98', 0, 0, 0, 0], dtype=object),
 array(['4,110', '92', 0, '3,226', '100', 0, 0, '584', '61', 0, 0, '300',
        '104', 0, 0, 0, 0], dtype=object),
 array(['4,325', '99', 0, '3,391', '107', 0, 0, '640', '67', 0, 0, '294',
        '109', 0, 0, 0, 0], dtype=object),
 array(['4,142', '95', 0, '3,199', '102', 0, 0, '641', '69', 0, 0, '302',
        '108', 0, 0, 0, 0], dtype=object),
 array(['4,520', '103', 0, '3,421', '111', 0, 0, '642', '74', 0, 0, '362',
        '109', '95', '100', 0, 0], dtype=object),
 array(['4,324', '103', 0, '3,264', '111', 0, 0, '599', '73', 0, 0, '354',
        '109', '107', '101', 0, 0], dtype=object),
 array(['4,373', '100', 0, '3,303', '107', 0, 0, '599', '70', 0, 0, '363',
        '107', '108', '99', 0, 0], dtype=object),
 array(['4,309', '95', 0, '3,236', '101', 0, 0, '609', '70', 0, 0, '351',
        '102', '113', '101', 0, 0], dtype=object),
 array(['4,082', '99', 0, '3,115', '107', 0, 0, '527', '66', 0, 0, '337',
        '106', '102', '101', 0, 0], dtype=object),
 array(['4,153', '92', 0, '3,162', '99', 0, 0, '544', '63', 0, 0, '341',
        '100', '105', '97', 0, 0], dtype=object),
 array(['4,251', '98', 0, '3,222', '104', 0, 0, '568', '68', 0, 0, '351',
        '106', '111', '106', 0, 0], dtype=object),
 array(['4,544', '101', 0, '3,370', '108', 0, 0, '624', '73', 0, 0, '362',
        '107', '188', '97', 0, 0], dtype=object),
 array(['4,287', '96', 0, '3,190', '103', 0, 0, '542', '65', 0, 0, '345',
        '104', '209', '95', 0, 0], dtype=object),
 array(['4,336', '91', 0, '3,210', '97', 0, 0, '533', '62', 0, 0, '338',
        '99', '255', '95', 0, 0], dtype=object),
 array(['4,400', '91', 0, '3,326', '96', 0, 0, '556', '65', 0, 0, '330',
        '97', '188', '103', 0, 0], dtype=object),
 array(['4,233', '92', 0, '3,211', '97', 0, 0, '571', '68', 0, 0, '336',
        '101', '115', '99', 0, 0], dtype=object),
 array(['4,697', '98', 0, '3,564', '104', 0, 0, '635', '72', 0, 0, '369',
        '106', '129', '107', 0, 0], dtype=object),
 array(['4,628', '96', 0, '3,566', '101', 0, 0, '603', '72', 0, 0, '337',
        '99', '122', '95', 0, 0], dtype=object),
 array(['4,881', '96', 0, '3,723', '100', 0, 0, '653', '74', 0, 0, '369',
        '103', '135', '102', 0, 0], dtype=object),
 array(['4,406', '88', 0, '3,389', '93', 0, 0, '555', '64', 0, 0, '332',
        '95', '129', '94', 0, 0], dtype=object),
 array(['4,395', '94', 0, '3,357', '99', 0, 0, '576', '72', 0, 0, '331',
        '101', '130', '100', 0, 0], dtype=object),
 array(['4,423', '87', 0, '3,401', '91', 0, 0, '560', '64', 0, 0, '340',
        '94', '122', '91', 0, 0], dtype=object),
 array(['4,442', '91', 0, '3,398', '95', 0, 0, '562', '69', 0, 0, '342',
        '99', '140', '91', 0, 0], dtype=object),
 array(['4,855', '95', 0, '3,693', '98', 0, 0, '609', '76', 0, 0, '366',
        '101', '188', '93', 0, 0], dtype=object),
 array(['4,396', '89', 0, '3,379', '93', 0, 0, '526', '68', 0, 0, '321',
        '92', '170', '87', 0, 0], dtype=object),
 array(['4,367', '87', 0, '3,376', '91', 0, 0, '507', '64', 0, 0, '319',
        '90', '165', '82', 0, 0], dtype=object),
 array(['4,613', '90', 0, '3,535', '94', 0, 0, '564', '70', 0, 0, '325',
        '90', '189', '93', 0, 0], dtype=object),
 array(['4,682', '93', 0, '3,538', '96', 0, 0, '607', '77', 0, 0, '353',
        '98', '183', '93', 0, 0], dtype=object),
 array(['4,792', '95', 0, '3,671', '99', 0, 0, '581', '72', 0, 0, '349',
        '99', '190', '94', 0, 0], dtype=object),
 array(['4,867', '98', 0, '3,733', '103', 0, 0, '594', '76', 0, 0, '359',
        '103', '180', '92', 0, 0], dtype=object),
 array(['4,592', '91', 0, '3,533', '96', 0, 0, '541', '68', 0, 0, '351',
        '97', '168', '83', 0, 0], dtype=object),
 array(['4,465', '96', 0, '3,422', '101', 0, 0, '536', '72', 0, 0, '337',
        '100', '171', '98', 0, 0], dtype=object),
 array(['4,326', '94', 0, '3,450', '100', 0, 0, '490', '68', 0, 0, '324',
        '100', '162', '89', 0, 0], dtype=object),
 array(['4,478', '88', 0, '3,456', '93', 0, 0, '523', '65', 0, 0, '334',
        '92', '166', '82', 0, 0], dtype=object),
 array(['4,589', '94', 0, '3,529', '99', 0, 0, '542', '70', 0, 0, '349',
        '102', '169', '87', 0, 0], dtype=object),
 array(['4,959', '97', 0, '3,822', '102', 0, 0, '587', '73', 0, 0, '364',
        '100', '186', '92', 0, 0], dtype=object),
 array(['4,951', '93', 0, '3,551', '99', 0, 0, '522', '67', 0, 0, '342',
        '97', '176', '91', 0, 0], dtype=object),
 array(['4,568', '95', 0, '3,525', '101', 0, 0, '501', '66', 0, 0, '363',
        '94', '179', '90', 0, 0], dtype=object),
 array(['4,995', '102', 0, '3,809', '108', 0, 0, '576', '75', 0, 0, '397',
        '101', '214', '108', 0, 0], dtype=object),
 array(['4,753', '99', 0, '3,600', '104', 0, 0, '566', '76', 0, 0, '389',
        '100', '198', '97', 0, 0], dtype=object),
 array(['5,119', '105', 0, '3,904', '111', 0, 0, '592', '78', 0, 0, '416',
        '107', '207', '104', 0, 0], dtype=object),
 array(['4,916', '104', 0, '3,747', '109', 0, 0, '576', '78', 0, 0, '397',
        '104', '196', '102', 0, 0], dtype=object),
 array(['5,156', '106', 0, '3,907', '111', 0, 0, '615', '81', 0, 0, '413',
        '107', '220', '104', 0, 0], dtype=object),
 array(['4,804', '98', 0, '3,667', '104', 0, 0, '548', '72', 0, 0, '383',
        '98', '206', '100', 0, 0], dtype=object),
 array(['4,400', '101', 0, '3,323', '106', 0, 0, '526', '79', 0, 0, '360',
        '103', '190', '106', 0, 0], dtype=object),
 array(['4,675', '96', 0, '3,565', '102', 0, 0, '545', '71', 0, 0, '378',
        '97', '187', '94', 0, 0], dtype=object),
 array(['5,117', '100', 0, '3,524', '104', 0, 0, '726', '84', 0, 0, '384',
        '114', '258', '81', '224', '101'], dtype=object),
 array(['5,740', '105', 0, '3,894', '108', 0, 0, '844', '91', 0, 0, '418',
        '118', '318', '95', '265', '108'], dtype=object),
 array(['3,738', '73', 0, '2,554', '75', 0, 0, '538', '62', 0, 0, '288',
        '87', '190', '59', '168', '76'], dtype=object),
 array(['4,806', '90', 0, '3,266', '93', 0, 0, '691', '76', 0, 0, '360',
        '104', '264', '79', '224', '97'], dtype=object),
 array(['5,341', '97', 0, '3,554', '105', 0, 0, '784', '74', 0, 0, '395',
        '106', '308', '90', '301', '92'], dtype=object),
 array(['5,202', '96', 0, '3,386', '101', 0, 0, '839', '78', 0, 0, '397',
        '109', '287', '85', '293', '90'], dtype=object),
 array(['5,633', '102', 0, '3,700', '108', 0, 0, '885', '83', 0, 0, '420',
        '113', '319', '93', '309', '94'], dtype=object),
 array(['5,511', '103', 0, '3,609', '109', 0, 0, '874', '85', 0, 0, '417',
        '116', '306', '92', '305', '96'], dtype=object),
 array(['5,438', '99', 0, '3,556', '105', 0, 0, '861', '81', 0, 0, '406',
        '111', '308', '90', '307', '93'], dtype=object),
 array(['5,216', '94', 0, '3,398', '99', 0, 0, '831', '78', 0, 0, '386',
        '103', '308', '90', '293', '89'], dtype=object),
 array(['5,184', '98', 0, '3,363', '103', 0, 0, '826', '81', 0, 0, '391',
        '107', '304', '94', '300', '94'], dtype=object),
 array(['5,011', '91', 0, '3,246', '96', 0, 0, '816', '77', 0, 0, '385',
        '104', '285', '84', '278', '83'], dtype=object),
 array(['5,357', '100', 0, '3,438', '104', 0, 0, '885', '86', 0, 0, '422',
        '115', '311', '93', '299', '92'], dtype=object),
 array(['5,692', '102', 0, '3,638', '106', 0, 0, '955', '87', 0, 0, '431',
        '115', '341', '98', '327', '96'], dtype=object),
 array(['5,270', '98', 0, '3,421', '104', 0, 0, '861', '80', 0, 0, '399',
        '111', '302', '92', '287', '89'], dtype=object),
 array(['5,417', '96', 0, '3,514', '102', 0, 0, '874', '79', 0, 0, '408',
        '107', '318', '93', '303', '91'], dtype=object),
 array(['5,424', '98', 0, '3,498', '103', 0, 0, '882', '81', 0, 0, '397',
        '109', '333', '99', '314', '95'], dtype=object),
 array(['5,399', '97', 0, '3,400', '101', 0, 0, '944', '85', 0, 0, '419',
        '108', '324', '95', '312', '92'], dtype=object),
 array(['5,911', '106', 0, '3,770', '111', 0, 0, '1,011', '91', 0, 0,
        '444', '119', '360', '105', '326', '97'], dtype=object),
 array(['5,656', '109', 0, '3,615', '114', 0, 0, '979', '94', 0, 0, '418',
        '124', '329', '104', '315', '100'], dtype=object),
 array(['6,072', '96', '77', '2,965', '103', '781', '85', '759', '71',
        '226', '59', '482', '102', '427', '98', '432', '116'], dtype=object),
 array(['6,453', '89', '84', '2,746', '92', '1,136', '91', '772', '69',
        '337', '65', '496', '94', '451', '84', '515', '123'], dtype=object),
 array(['5,879', '91', '84', '2,483', '95', '1,074', '91', '676', '68',
        '306', '66', '441', '96', '411', '87', '488', '129'], dtype=object),
 array(['6,100', '83', '84', '2,543', '83', '1,113', '92', '714', '64',
        '338', '66', '433', '87', '422', '79', '537', '129'], dtype=object),
 array(['6,543', '91', '91', '2,722', '91', '1,174', '98', '775', '73',
        '363', '73', '475', '98', '476', '89', '558', '124'], dtype=object),
 array(['6,845', '92', '92', '2,834', '92', '1,243', '99', '803', '74',
        '387', '75', '485', '95', '513', '93', '580', '124'], dtype=object),
 array(['6,314', '86', '94', '2,602', '87', '1,189', '103', '726', '68',
        '367', '73', '438', '90', '445', '83', '547', '121'], dtype=object),
 array(['6,439', '83', '99', '2,601', '84', '1,306', '108', '713', '64',
        '413', '80', '433', '86', '443', '80', '530', '113'], dtype=object),
 array(['6,657', '88', '98', '2,747', '90', '1,275', '107', '752', '68',
        '404', '78', '435', '90', '494', '89', '550', '118'], dtype=object),
 array(['6,539', '88', '101', '2,611', '88', '1,250', '110', '771', '73',
        '407', '81', '450', '94', '477', '84', '573', '126'], dtype=object),
 array(['7,155', '91', '103', '2,878', '91', '1,342', '110', '862', '76',
        '436', '84', '500', '99', '567', '95', '570', '120'], dtype=object),
 array(['6,919', '94', '107', '2,755', '93', '1,307', '117', '823', '78',
        '433', '86', '477', '102', '520', '92', '604', '132'], dtype=object),
 array(['7,271', '94', '108', '2,903', '94', '1,387', '116', '841', '76',
        '470', '91', '508', '101', '547', '95', '615', '134'], dtype=object),
 array(['6,657', '86', '104', '2,626', '87', '1,304', '113', '768', '68',
        '440', '85', '467', '91', '490', '87', '562', '131'], dtype=object),
 array(['6,548', '86', '108', '2,607', '93', '1,241', '115', '806', '66',
        '423', '90', '466', '100', '483', '94', '522', '134'], dtype=object),

In [13]:
my_list[0]

array(['2,127', '61', 0, '1,771', '70', 0, 0, '356', '38', 0, 0, 0, 0, 0,
       0, 0, 0], dtype=object)

In [ ]:
df = {}
year = 2004
count = 0
for y in range(19):
    if y == 0:
        for m in range(4,13):
            
            
    else:
        for m in range(1,13):
            
    count +=1

In [ ]:
time_series = pd.DataFrame(df)